/* src/components/ShopItem.css */
.shop-item {
    background: white;
    border: 1px solid #495057;
    padding: 0.5rem;
    border-radius: 2px;
    cursor: pointer;
}

.shop-item h4 {
    margin-top: 0;
    margin-bottom: 1rem;
}

.shop-item:hover {
    background: #495057;
    color: white;
}

.shop-item + .shop-item {
    margin-top: 1rem;
}
